/* CSS RESET */
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #222222;
}

main {
  background-color: #f9fafb;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic;
  letter-spacing: 0.5px;
}

a:link,
a:visited {
  color: #fff;
}

a:focus {
  color: #baff80;
}

a:hover {
  color: #baff80;
}

a:active {
  color: #baff80;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  min-height: 100vh;
  margin-inline: auto;
}

main {
  flex: 1 1 905px;
}

.header {
  position: relative;
  background-image: url(./bg-image.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 305px;
  flex: 1 1 535px;
}

.header_box {
  margin-top: 220px;
  padding-block: 1em;
  max-height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.logo {
  max-width: 100%;
  max-height: 150px;
}

.header h1 {
  color: #eee;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.6rem);
}

.cite {
  text-align: center;
  color: #eee;
  padding-block: 1em;
  margin-bottom: 0.5em;
  font-weight: lighter;
  font-size: 0.875rem;
}

.hero {
  padding: 10.625rem 3.125rem 4.0625rem 3.125rem;
}

.hero p {
  max-width: 700px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
  word-spacing: 2px;
}

.hero p:first-of-type {
  margin-bottom: 2.5rem;
}

.form-section {
  padding-top: 1.25rem;
  padding-left: 3.125rem;
  box-shadow: black;
  background-color: #fff;
}

.form-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4.5rem;
  row-gap: 1.5rem;
  position: relative;
  padding-bottom: 2.5rem;
}

.form-group {
  flex: 0 1 280px;
}

label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

input {
  width: 260px;
  padding: 0.25rem;
  border: none;
  border: 2px solid #eee;
  border-radius: 3px;
}

.form-footer {
  padding: 2rem;
  padding-left: 3.125rem;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border: none;
  border: 1px solid #596d48;
  border-radius: 6px;
  background-color: #596d48;
  display: inline-block;
  padding: 0.9rem 3.5rem;
  margin-bottom: 2.375rem;
  position: absolute;
  bottom: -7.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: hsl(92, 20%, 45%);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.form-footer {
  margin-top: 5rem;
}

.log-in:link,
.log-in:visited {
  color: #596d48;
  font-weight: bold;
  text-decoration: none;
}

.log-in:link:hover {
  text-decoration: underline;
}

.bottom-shawdow {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
